.board{
    display: flex;
    justify-content: center;

    flex-flow: row wrap;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background:#121212;

}

.space {
    background: #dedede;
    height: 30%;
    width: 30%;
    border: none;
    margin: 1%;
    font-size: 30px;
   color: black;
    border: 3px solid white;
    color: #CF6679;
    transition-duration: 1s;
}

.space:hover{
    background: #CF6679;
    color: white;
}

.message{
    text-transform: uppercase;
    font-size: 50px;

}

.highlight{
    background: green;
}