.App {
  text-align: center;
  color: white;
  background: #121212;
  margin-top: 10%;
  font-size: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.message{
  text-transform: uppercase;
  font-size: 50px;
  margin: 10px;

}

.main{
  display: flex;
  justify-content:center;
}


.nextContainer{
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content:center;
  align-items: center;

  height: 50%;
  width: 50%;

}

.nextRound{
  width: 100%;

text-align: center;
  background-color: #121212;


}

.next-btn{
  background-color: transparent;
  color:white;
  border: none;
text-transform: uppercase;
font-size: 20px;
margin: 10px;
transition-duration: 1s;
width: 20%;



}

.next-btn:hover{
  background-color: #CF6679;

}

.player-text{

  color: #CF6679;
  text-transform: uppercase;
}


.scores{
  display: flex;
  justify-content:center;
}

.player-score{
  margin: 20px;
  padding: 15px;
  transition-duration: 0.3s;
}

.playerHighlight{
  border: 3px solid #CF6679;
  padding: 10px;
}