.App {
  text-align: center;
  color: white;
  background: #121212;
  margin-top: 5%;
  font-size: 30px;
}



.message {
  text-transform: uppercase;
  font-size: 50px;
  margin: 10px;
}

.main {
  display: flex;
  justify-content: center;
}

.next-btn {
  background-color: transparent;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  margin: 10px;
  transition-duration: 1s;
  width: 20%;
}

.next-btn:hover {
  background-color: #cf6679;
}

.player-text {
  color: #cf6679;
  text-transform: uppercase;
  transition-duration: 0.5s;
}

.scores {
  display: flex;
  justify-content: center;
}

.player-score {
  margin: 20px;
  padding: 15px;
}

.playerHighlight {
  font-size: 25px;
  padding: 10px;
}
